<div class="home">
    <div class="home-title">
        <h1>Color A Word</h1>
    </div>
    <div class="home-input">
      <input matInput [(ngModel)]="userText" placeholder="Entet Text">
      <div  class="home-input-but">
        <button (click)="addColorGrid()">Add</button>
      </div>
    </div>

    <div class="home-grid-container">
        <div class="home-grid-container-panel" [style.backgroundColor]="panel" *ngFor="let panel of colorGrids">
          <div class="panel-value">
            {{panel}}
          </div>
        </div>
    </div>
</div>